@charset "UTF-8";
/* CSS Document */

#container { 
    background-color:lavender;
    width:650px;
    padding:5px;
    height:380px;
}

h1 {
    font-family: 'Righteous', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

#empty {
    font-family: 'Roboto', sans-serif;
    font-size:35px;
    background-color: yellow; 
    height:100px;
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc { 
    background-color:purple;
    padding:8px;
    color:white;
    font-size:14px;
}
